SQLAlchemy~=2.0.35
aiogram~=3.17.0
loguru~=0.7.2
pandas~=2.2.2
apscheduler~=3.10.4
python-dotenv~=1.0.1
aiogram-dialog~=2.3.1
redis~=5.0.7
requests~=2.32.3
alembic~=1.13.3
psycopg2-binary~=2.9.10
asyncpg~=0.29.0